<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>in-viewport tests</title>

  <link rel="stylesheet" href="../node_modules/mocha/mocha.css"/>

</head>
<body>
<!--   <div id="testNotVisible" style="position:relative;top:10000px;left:0px;width:10px;height:100px">t</div> -->
  <div id="mocha"></div>
  <!-- <div id="playground">
  </div> -->

  <script src="../in-viewport.js"></script>

  <script src="helpers/helper.js"></script>
  <script src="helpers/assert.js"></script>
  <script src="../node_modules/mocha/mocha.js"></script>

  <script>
  mocha.setup({
    ui: 'bdd',
    reporter: Mocha.reporters.HTML
  })</script>

  <script src="not-visible.js"></script>
  <script src="visible.js"></script>
  <script src="no-watch.js"></script>
  <script src="custom-container.js"></script>
  <script src="detached.js"></script>
  <script>if (window.mochaPhantomJS) { mochaPhantomJS.run(); }
      else { mocha.run(); }</script>

</body>
</html>
